* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
}

#header {
	background-color: #000;
	height: 70px;
	padding-top: 10px;
	display: flex;
}
.dropbtn {
	margin-top: 10px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropbtn a {
	color: #CCCCCC;
	text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
}

.dropdown-content a {
    color: #6d6d6d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial;
}

.dropdown-content a:hover {
	background-color: #6d6d6d;
	color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffc042;
    color: #fff;
}

.dropbtn a:hover {
	color: #fff;
}

#header #nav-container {
	padding: 15px;
	display: inline-block;
}

#header a.navbar {
	display: inline-block;
	margin-left: 20px;
	padding: 10px;
	text-decoration: none;
	color: #CCCCCC;
	font-family: sans-serif;
}

a.navbar #all {
	float: left;
}

#active, .search-category:hover {
	background-color: gainsboro !important;
}

#header a.navbar:hover {
	border-bottom: #000;
	color: #ffc042;
}

#products {
	vertical-align: top;
	display: inline-block; 
	overflow: auto;
	width: calc(100% - 204px);
	margin-left: 100px;
	margin-top: 30px;
}

#mod-icon, #del-icon {
	position: relative;
	opacity: 0.4;
	margin: 5px;
	max-width: 8%;
}

#mod-icon {
	float: left;
}

#del-icon {
	float: right;
}

.categories {
	opacity: 0.8;
	vertical-align: top;
	display: inline-block;
	width: 166px;
	height: 500px;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
}

.category {
	display: block;
	padding: 10px 0px;
	text-decoration: none;
	font-family: sans-serif;
	color: #CCCCCC;
}

.category:hover {
	background-color: #DDDDDD;
	color: #555555;
}

.prod  {
	font-family: sans-serif;
	border-radius: 5%;
	display: block;
	position: relative;
	background-color: white;
	height: 400px;
	margin: 2% 1vw;
	text-align: center;
	flex-grow: 1;
	flex-basis: 200px;
	max-width: 300px;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

input {

}

.prod-info p {
	padding-top: 15px;
}

.quantity {
	width: 100%;
	position: absolute;
	bottom: 30px;
}

.quantity * {
	border: 0;
	box-shadow:none;
	border-radius: 0px;
	display: inline-block;
	padding: 7px;
	margin: 0 5px;
}

hr {
	width: 90%;
	margin: auto;
}

div.prod-img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
}

.add-img a {
	flex; display;
	display: block;
	padding-top: 40px;
	height: calc(60% - 40px);
}

.add-img img {
	max-width: 50%;
	opacity: 0.8;
}

.prod img {
	margin: 0 auto;
	display: block;
	max-width: 80%;
	max-height: 50%;
}
