body {
	margin: 0;
	padding: 0;
	background-color: white;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 20%;
	width: 20vw;
}

#back {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #74767a;
	font-family: helvetica;
	border-bottom: 1px;
}

#back:hover {
	color: #CCCCCC;
}

.submit {
	 border: 0;
	 box-shadow:none;
	 border-radius: 0px;
}

input {
	font-family: helvetica;
}

h1 {
	margin-top: 5%;
	text-align: center;
	font-family: helvetica;
}

h1.update {
	font-family: helvetica;
}
form {
	text-align: center;
	border: 1px solid #CCCCCC;
	width: 60%;
	margin: 5% auto;
	font-family: helvetica;
	font-size: 12px;
}

form input {
	margin: 2%;
}
