body {
	background: #fff;
}

#checkout {
	opacity: 1;
	width: 40%;
	min-width: 180px;
	min-height: 400px;
	position: absolute;
	right: 20px;
	background-color: #DDDDDD;
	color: #555555;
}

@media (max-width: 680px) {
	#checkout {
		width: 275px;
		left: 390px;
	}
}

#checkout .check_sec {
	padding: 10px 10px 0px 10px;
	font-family: sans-serif;
}

.check_sec span {
	float: right;
}

#checkout .check_sec:last-of-type {
	padding-bottom: 20px;
}

#checkout .summary {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 20px 10px;
	font-size: 120%;
	margin-bottom: 0px;
}


#items {
	width: 50%;
	height: 700px;
	margin-top: 70px;
}

.item {
	background-color: #DDDDDD;
	color: #555555;
	margin: 10px;
	height: 200px;
	min-width: 350px;
	border-radius: 4px;
}

.img_cont {
	background-color: white;
	float: left;
	width: 200px;
	height: 200px;
	border-right: 1px solid grey;
}

.info_cont {
	display: inline-block;
	width: calc(100% - 201px);
	position: relative;
	text-align: center;
	font-family: sans-serif;
}

.item img {
	width: 100%;

}

.quantity{
	margin-top: 60px;
}

.quantity * {
	border: 0;
    box-shadow: none;
    border-radius: 0px;
    display: inline-block;
    padding: 7px;
    margin: 5px 5px;
}

#delete {
	position: absolute;
	top: 3px;
	right: 3px;
	border: 0;
    box-shadow: none;
    border-radius: 0px;
    display: inline-block;
    padding: 7px;
    margin: 5px 5px;
}

#empty {
	text-align: center;
	font-family: sans-serif;
	font-size: 22px;
	color: #fff;
	padding: 40px 0px;
}

#back {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #74767a;
	font-family: helvetica;
	border-bottom: 1px;
}

#back:hover {
	color: #CCCCCC;
}


h1 {
	background-color: #000;
	padding: 15px 0 15px 0;
	text-align: center;
	font-family: helvetica;
	font-size: 15px;
	color: #fff;
	margin-bottom: 10px;
}

#checkout form {
	width: 200px;
	height: 150px;
	display: inline-block;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 0;
	margin-left: 45px;
	margin-bottom: 0;

}

#checkout input {
	width: 100%;
	font-size: 100%;
}

.ifield {
	height: 40px;
	text-align: center
}

#submit {
	background-color: #ff8b26;
	color: #fff;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 0;
	box-shadow:none;
	border-radius: 0px;
}

#submit:hover {
	opacity: 0.8;
	cursor: pointer;
}

#error-message {
	font-size: 80%;
	font-family: helvetica;
	color: red;
	text-align: center;
}

#checkout #checkout_submit {
	display: block;
	width: 60%;
	height: 50px;
	margin: 20px auto;
	border: 1px solid grey;
	opacity: 0.6;
}

#checkout #checkout_submit:hover {
	opacity: 0.8;
	cursor: pointer;
}

#create {
	display: block;
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 10px;
	text-decoration: none;
	color: #666666;
}

#create:hover {
	color: #888888;
}